.country-selection-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: url("../assets/lotto-bg.jpg") no-repeat center center/cover;
    padding: 20px;
  }
  
  .country-selection-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Assombrissement */
    z-index: 0;
  }
  
  .back-button {
    display: inline-block;
    text-decoration: none;
    color:rgb(163, 89, 160);
    margin-bottom: 20px;
    z-index: 2;
  }
  
  .back-button:hover {
    color: #402cd7; /* Orange */
  }
  
  .title {
    color: rgb(163, 89, 160);
    font-size: 24px;
    font-weight: bold;
    z-index: 2;
  }
  
  .countries-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px;
    z-index: 2;
  }
  
  .country-card {
    background: rgba(65, 146, 225, 0.2);
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    text-align: center;
  }
  
  .country-icon {
    width: 100px;
    height: 100px;
  }
  
  .country-button {
    background: rgb(163, 89, 160);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
  }